html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160,32,11,0.76);

  background-color: #ec593c;
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  border: 0;
  border-radius: 31px;
  box-shadow: 0 2px 2px rgba(172,16,0,0.64);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 2px 2px rgba(172,16,0,0.64),
  inset 0 0 0 100px rgba(255, 255, 255, 0.5);

  transition-duration: 0.5s;
  transition-property: box-shadow;
}


.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.background-color-slide-1 {
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/* стилизация хедера */

.main-navigation a {
  color: #ffffff;
}

.site-navigation .site-navigation-link {
  position: relative;

  padding: 7px 13px;

  font-weight: 500;
}

.text-underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.site-navigation-item:hover .site-navigation-link,
.site-navigation-item:focus .site-navigation-link {
  color: #323232;

  background-color: #f7f6f3;
  border-radius: 15px;

  transition-duration: 0.2s;
  transition-property: background-color;
}

.site-navigation-item:active .site-navigation-link {
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
}

.catalog {
  position: relative;
}

.popup-menu-hover-wrapper {
  position: absolute;
  z-index: 1;

  display: none;
  padding-top: 15px;
}

.catalog-navigation {
  width: 145px;
  min-height: 170px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.new-products {
  margin: 0;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 21px;

  font: inherit;
  font-weight: bold;
}

.catalog-navigation-item a {
  display: block;
  padding-top: 8px;
  padding-right: 60px;
  padding-bottom: 8px;
  padding-left: 21px;

  font-weight: normal;
  color: #323232;

  border-bottom: none;
}

.catalog-navigation-item:hover a,
.catalog-navigation-item:focus a {
  background-color: rgba(208, 112, 88, 0.3);
}

.catalog-navigation-item:active a {
  background-color: rgba(208, 112, 88, 0.6);
}

.catalog-navigation-item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.site-navigation-item:hover .popup-menu-hover-wrapper,
.site-navigation-item:focus .popup-menu-hover-wrapper {
  display: block;
}

.user-interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 290px;
}

.user-interface-item {
  position: relative;

  margin-left: 14px;

  font-size: 14px;
  line-height: 16px;
}

.user-interface-item:nth-child(4n) {
  margin-left: 0;
}

.user-interface-link {
  position: relative;

  padding: 7px 13px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.search {
  position: relative;

  padding: 8px 16px;
}

.search svg {
  position: absolute;
  top: 9px;
  left: 9px;
}

.login path {
  fill: #ffffff;
}

.user-interface-item:focus path,
.user-interface-item:hover path {
  fill: #000000;
}

.login {
  position: relative;

  padding-left: 42px;
}

.login svg {
  position: absolute;
  top: 7px;
  left: 13px;
}

.user-interface-item:focus path,
.user-interface-item:hover path {
  fill: #000000;
}

.shopping-cart {
  position: relative;

  padding-left: 45px;
}

.shopping-cart svg {
  position: absolute;
  top: 7px;
  left: 15px;
}

.user-interface-item .shopping-cart-full {
  color: #000000;

  background-color: #ffffff;
}

.shopping-cart-full .line-fill,
.shopping-cart-full  circle {
  fill: #000000;
}

.shopping-cart-full path.cart-body {
  fill: #e84d37;
}

.user-interface-item:focus .line-fill,
.user-interface-item:hover .line-fill,
.user-interface-item:focus circle,
.user-interface-item:hover circle {
  fill: #000000;
}

.user-interface-item:focus path.cart-body,
.user-interface-item:hover path.cart-body {
  fill: #e84d37;
}

.user-interface-item:hover .user-interface-link:not(.shopping-cart-full),
.user-interface-item:focus .user-interface-link:not(.shopping-cart-full) {
  color: #000000;

  background-color: #ffffff;

  transition-duration: 0.2s;
  transition-property: color, background-color;
}

.user-interface-item:hover > .popup-menu-hover-wrapper,
.user-interface-item:focus > .popup-menu-hover-wrapper {
  display: block;
}


.search ~ .popup-menu-hover-wrapper {
  right: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  width: 341px;
  height: 84px;
  padding: 20px 16px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.user-interface-item input {
  width: 100%;
  padding-left: 14px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: transparent;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.user-interface-item input:hover,
.mailing input:hover,
.callback-form input:hover {
  box-shadow: 0 0 0 1px #d3d3d2;
}

.user-interface-item input:focus,
.mailing input:focus {
  border: solid 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}

.user-interface-item input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.user-interface-item input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.user-interface-item input:-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}


.user-interface-item input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.mailing input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.mailing input:-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.mailing input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.mailing input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.login ~ .popup-menu-hover-wrapper {
  right: 0;
}

.authorization-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 277px;
  height: 214px;
  padding: 20px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.authorization-form-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.authorization-form input {
  height: 44px;
  padding-left: 14px;
}

.auth-btn {
  padding: 10px 25px;
}

.user-setup-links {
  padding-left: 5px;
}

.authorization-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.authorization-form a:hover,
.authorization-form a:focus,
.authorization-form a:active {
  color: #e84d37;

  border-color: #e84d37;
}

.shopping-cart ~ .popup-menu-hover-wrapper {
  top: 13px;
  right: 0;
}

.basket-wrapper {
  width: 539px;
  min-height: 242px;
  padding: 17px 13px;

  font-size: 13px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.basket-table td {
  padding-bottom: 11px;
}

.table-row:nth-child(2) td {
  padding-bottom: 14px;
}

.basket-table .delete-item-cell {
  padding-right: 1px;
  padding-bottom: 21px;
}

.table-row:nth-child(2) .delete-item::before,
.table-row:nth-child(2) .delete-item::after {
  top: -5px;
  right: 11px;
}

.delete-item {
  position: relative;

  width: 15px;
  height: 15px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.delete-item::before,
.delete-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 11px;

  width: 1px;
  height: 15px;

  background-color: #2c2829;
}

.delete-item::before {
  transform: rotate(45deg);
}

.delete-item::after {
  transform: rotate(-45deg);
}

.basket-table .ice-cream-img-mini-cell {
  padding-right: 9px;
  padding-left: 6px;
}

.table-row:nth-child(1) .ice-cream-img-mini-cell {
  padding-bottom: 10px;
}

.table-row:nth-child(2) .ice-cream-img-mini-cell {
  padding-top: 3px;
}

.table-row:nth-child(2) .good-item-name-cell {
  padding-top: 14px;
}

.basket-table .good-item-name-cell {
  width: 220px;
}

.basket-table .item-weight-multiplier-cell {
  padding-left: 25px;
}

.table-row:nth-child(2) .item-weight-multiplier-cell {
  padding-bottom: 15px;
}

.price-item-multiplier {
  opacity: 0.5;
}

.total-amount-cell {
  padding-right: 19px;
  padding-left: 25px;
}

.table-row:nth-child(2) .total-amount-cell {
  padding-bottom: 15px;
}

.basket-table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.basket-table img {
  border-radius: 50%;
}

.basket-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-basket-order {
  padding: 10px 15px;
}

.basket-total-price {
  margin-bottom: 13px;

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

/* стили для основного контента */

/* блок с контактами */

.header-contact {
  position: relative;
  bottom: 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contact span {
  margin-bottom: 4px;
}


.header-contact a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

/* стили для слайдера */

.slides h2 {
  margin-top: 270px;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60.35px;
}

.slider-btn {
  display: inline-block;
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
}

.control-btn {
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.control-btn:focus:not(.control-btn-checked),
.control-btn:hover:not(.control-btn-checked) {
  background-color: rgba(255, 255, 255, 0.5);
}

.control-btn-checked {
  background-color: #ffffff;
}

/* блоки с баннерами */

.discount-offer {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 230px;
  padding: 24px 18px;
  padding-top: 17px;
  padding-right: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  border-radius: 16px;
}

.discount-offer p {
  margin-top: 0;
}

.discount-offer h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.index-columns h2 {
  font-size: 35px;
  line-height: 41px;
}

.discount-offer .btn {
  align-self: flex-end;
  margin-top: auto;
  padding: 10px 22px;
}

.discount-offer-raspberry {
  background-color: #a62b49;
  background-image: url("../img/rapsberry-background.jpg");
}

.discount-offer-chocolate {
  background-color: #42281c;
  background-image: url("../img/chocolate-background.jpg");
}

/* карточки товаров */

.catalog-item-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-name a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.catalog-item-name a:focus,
.catalog-item-name a:hover,
.catalog-item-name a:active {
  color: #ffbc9e;

  border-color: #ffbc9e;
}

.catalog-item-image {
  border-radius: 50%;
}

.bestseller-item {
  position: relative;
}

.bestseller-item::before {
  content: "";
  position: absolute;
  z-index: 4;

  width: 60px;
  height: 60px;

  background-image: url("../img/hit-ico.svg");
}

.catalog-item-price {
  line-height: 48px;
}

.catalog-item-price b {
  position: relative;

  font-size: 45px;
}

.catalog-item-price b::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 80px;

  width: 29px;
  height: 38px;

  background-image: url("../img/currency-ico.svg");
  background-repeat: no-repeat;
}

.catalog-item-price span {
  margin-left: 25px;

  font-size: 30px;
}

.catalog-item-wrapper {
  position: relative;
}

.catalog-item-wrapper .btn {
  position: absolute;
  top: 330px;
  left: 30px;
  z-index: 5;

  display: none;
  padding: 10px 20px;
}


/*блок с описанием особенностей магазина*/

.features {
  width: 1146px;
  min-height: 305px;
  margin-bottom: 40px;
  padding-top: 23px;
  padding-right: 21px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #dcd1b7;
  background-image: url("../img/waffle-background.jpg");
  border-radius: 16px;
}

.features h2 {
  margin-top: 0;
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features p {
  position: relative;

  margin-bottom: 22px;

  font: inherit;
}



.icon::before {
  content: "";
  position: absolute;
  z-index: 1;

  width: 49px;
  height: 49px;
}

.features-list-item:first-child .icon::before {
  top: -12px;
  left: -57px;
}

.features-list-item:last-child .icon:last-child::before {
  top: -12px;
  left: -57px;
}


.icon-features-1::before {
  background-image: url("../img/icecream-icon.svg");
}

.icon-features-2::before {
  background-image: url("../img/leaf-ico.svg");
}


.icon-features-3::before {
  background-image: url("../img/cow-ico.svg");
}

.icon-features-4::before {
  background-image: url("../img/thermometer-ico.svg");
}

/* блоки с рассылкой и блогом */

.blog,
.mailing {
  width: 560px;
  min-height: 220px;
  padding: 24px 18px;
  padding-top: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 16px;
}

.mailing {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 550px;
  min-height: 210px;
  margin: 5px;;
}

.mailing::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;

  width: 560px;
  height: 220px;

  background-color: #ffffff;
  background-image: repeating-linear-gradient(145deg,  #fe9e90,  #fe9e90 7px, #ffffff 7px, #ffffff 14px, #92cdff 14px, #92cdff 21px, #ffffff 21px, #ffffff 28px);
  border-radius: 16px;
}

.mailing p {
  margin-top: 9px;
  margin-bottom: 37px;
}

.blog {
  padding-right: 260px;

  background-image: url("../img/strawberry-background.jpg");
}

.blog h2 {
  margin-top: 3px;
  margin-bottom: 4px;

  font: inherit;
  font-weight: 500;
}

.blog a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.blog a:focus,
.blog a:hover,
.blog a:active {
  color: #e84d37;

}

.index-columns .mailing {
  padding-left: 20px;
  padding-right: 20px;
}

.mailing .btn {
  margin-left: 11px;
  padding: 7px 20px;
}

.appointment-form {
  display: flex;
}

.mailing input {
  width: 80%;
  height: 43px;
  padding-left: 15px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  background-color: transparent;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}


/* адресный блок  */

.contacts {
  position: absolute;
  top: 62px;
  left: 1134px;

  display: flex;
  flex-direction: column;
  width: 302px;
  min-height: 305px;
  margin-left: -151px;
  padding: 20px 26px;
  padding-bottom: 30px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 16px;
}

.contacts p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 16px;
}

.contacts p:first-child {
  margin-top: 9px;
}

.contacts b {
  margin-top: 3px;

  font-size: 18px;
  line-height: 24px;
}

.contacts-tel {
  margin-top: 7px;

margin-bottom: 3px;

  font-weight: bold;
  font-size: 18px;
  color: #323232;
}

.contacts .btn {
  margin-top: auto;
  padding: 10px 25px;
}

/* футер */

/* иконки соц-сетей */

.social-btn {
  position: relative;

  display: block;
  width: 38px;
  height: 38px;

  background-repeat: no-repeat;
  border: 3px solid rgba(255, 250, 250, 0.6);
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn-twt {
  background-image: url("../img/twitter-icon.svg");
}

.social-btn-inst {
  background-image: url("../img/insta-ico.svg");
}

.social-btn-fb {
  background-image: url("../img/fb-ico.svg");
}

.social-btn-vk {
  background-image: url("../img/vk-ico.svg");
}

.social-btn:focus,
.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
}

/* список ссылок с информацией о компании */

.links-info-list a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.links-info-list a:hover,
.links-info-list a:focus {
  color: #ffbc9e;

  border-color: #ffbc9e;
}

a.heart-ico-link {
  position: relative;

  font-weight: bold;
}

.heart-ico-link::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart-ico.svg");
}

.footer-copyright {
  position: relative;

  padding-top: 15px;

  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright::before {
  content: "";
  position: absolute;
  top: -16px;

  width: 120px;
  height: 38px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.footer-copyright a {
  color: #fefefe;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;

  border-color: #ffbc9e;
}

/* модальное окно */

.modal-content {
  position: fixed;
  top: 337px;
  left: 50%;

  width: 477px;
  min-height: 442px;
  margin-left: -238px;
  padding: 25px;
  padding-top: 15px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal-hidden {
  display: none;
}

.modal-content-close {
  position: absolute;
  top: 13px;
  right: 20px;

  width: 19px;
  height: 19px;

  background: none;
  border: none;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 21px;
  height: 2px;

  background-color: #231f20;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content b {
  display: block;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
}

.callback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 427px;
  min-height: 392px;
}

.callback-form input,
.callback-form textarea {
  padding-left: 15px;

  font: inherit;

  background-color: transparent;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.callback-form input {
  width: 50%;
  height: 44px;
  margin-bottom: 20px;
}

.callback-form input:hover {
  box-shadow: 0 0 0 1px #d3d3d2;
}

.callback-form input:focus {
  border: solid 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}

.callback-form input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.callback-form input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.callback-form input:-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}


.callback-form input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.callback-form textarea::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.callback-form textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.callback-form textarea:-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}


.callback-form textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}


.callback-form textarea {
  height: 150px;
  padding-top: 12px;

  resize: none;
}

.callback-form textarea:hover {
  box-shadow: 0 0 0 1px #d3d3d2;
}

.callback-form textarea:focus {
  border: solid 1px #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}

.callback-form .btn {
  align-self: flex-end;
  padding: 10px 25px;
}

/* доп стили для каталога */

/* стили для активной кнопки хедера */

.active-menu-item {
  padding: 7px 13px;

  font-weight: 500;

  background-color: #d07058;
  border-radius: 16px;
}
.active-menu-item:hover ~ .catalog-navigation,
.active-menu-item:focus ~ .catalog-navigation {
  display: block;
}

.catalog-main-header {
  position: relative;
  bottom: 16px;

  margin: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 33px;
}

.breadcrumbs {
  position: relative;
  bottom: 24px;

  display: flex;
  justify-content: flex-start;
  width: 500px;
}

.breadcrumbs a,
.breadcrumbs .current {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  position: relative;

  margin-right: 20px;

  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.breadcrumbs a::before {
  content: "»";
  position: absolute;
  left: 60px;

  font-size: 15px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;

  border-color: #ffbc9e;
}

/* стилизация фильтров*/
.filter-selection-form h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.filter-selection-form h3,
.filter-selection-form .formcost {
  margin-bottom: 5px;
  margin-left: 15px;
}

.select-sort {
  position: relative;

  width: 193px;
  height: 36px;
  padding: 8px 11px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

.select-sort::-ms-expand {
  display: none;
}

.select-sort-wrapper {
  position: relative;
}

.select-sort-wrapper::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;

  border-top: 10px solid #ffffff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.select-sort-wrapper:hover .select-sort {
  color: #323232;
}

.select-sort-wrapper:hover::after {
  border-top: 10px solid #323232;
}

.select-sort option {
  color: #323232;
}

.filter-selection-form label[for="min-cost"],
.filter-selection-form label[for="max-cost"] {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.filter-selection-form input[name="min-cost"],
.filter-selection-form input[name="max-cost"] {
  width: 30px;

  color: inherit;

  background-color: transparent;
  border: none;
}

.filter-selection-form input[name="max-cost"] {
  margin-left: -2px;
}

.filter-selection-form .currency-name {
  margin-left: -5px;
}

.slider-price .formcost {
  margin: 12px 0;
  margin-bottom: 4px;
  margin-left: 14px;
}

.slider-cont {
  position: relative;

  width: 218px;
  height: 36px;
  padding: 16px 21px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.scale {
  position: relative;

  width: auto;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.6);
}

.bar {
  position: absolute;
  left: 23px;

  width: 106px;
  height: 4px;

  background-color: rgba(255, 255, 255, 1);
}

.toggle {
  position: absolute;

  width: 21px;
  height: 21px;

  background-color: #ababab;
  border: 9.5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.min-toggle {
  top: 8px;
  left: 33px;
}

.max-toggle {
  top: 8px;
  right: 66px;
}

.radio-filter h3 {
  margin-left: 14px;
}

.radio-filter-wrapper {
  min-width: 415px;
  height: 36px;
  padding-top: 11px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 21px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.radio-filter-list {
  display: flex;
  justify-content: space-between;
}

.radio-filter-list-item label {
  position: relative;
}

.radio-filter-list-item label[for="0"] {
  margin-left: 23px;
}

.radio-filter-list-item label[for="before-10"] {
  margin-left: 2px;
}

.radio-filter-list-item label[for="before-30"] {
  margin-right: 2px;
}

/* .radio-filter-list-item label[for="higher-30"] {
  margin-left: 15px;
} */

.radio-item:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;

  width: 8px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.radio-filter-list-item label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -32px;

  width: 22px;
  height: 22px;

  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.radio-filter-list-item label:hover::before {
  border: 3px solid rgba(255, 255, 255, 1);
}

.radio-item:checked + label:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

.radio-item:disabled + label::before {
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.radio-item:disabled:checked + label:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.radio-filter,
.checkbox-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.checkbox-filter h3 {
  margin-top: 18px;
}

.checkbox-filter-wrapper {
  min-width: 700px;
  height: 36px;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 27px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.checkbox-filter-list {
  display: flex;
  justify-content: space-between;
}

.checkbox-filter-list label {
  position: relative;
}

.checkbox-filter-list label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-ico.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
}

.checkbox-item:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 29px;
  height: 29px;

  background-image: url("../img/checkbox-on-ico.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
}

.checkbox-item:checked:disabled + label::after,
.checkbox-item::disabled + label::before {
  opacity: 0.4;
}

.checkbox-filter-list label:hover::before,
.checkbox-item:checked + label:hover::after {
  opacity: 1;
}

.checkbox-filter-list label[for="choco-field"] {
  margin-left: 20px;
}

.filter-btn {
  margin-top: auto;
  padding: 7px 27px;

  font: inherit;
  text-shadow: none;

  background-color: rgba(255,255,255,0.19);
  background-image: none;
  border: solid 2px #ffffff;
  box-shadow: none;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;
  text-shadow: none;

  background-color: #ffffffff;
  box-shadow: none;
}

.filter-btn:active {
  text-shadow: none;

  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
}

/* стили для пагинации */

.paginator-list {
  position: absolute;
  right: -8px;
  bottom: 30px;

  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  min-width: 200px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}


.paginator-list a:not(.arrow-previous):not(.arrow-next) {
  display: block;
  padding: 4px 8px;

  color: #ffffff;
}

.paginator-list-item:nth-child(6) a {
  margin-right: 6px;
}

.paginator-list a:not(.arrow-previous):not(.arrow-next):hover,
.paginator-list a:not(.arrow-previous):not(.arrow-next):focus {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.paginator-list a:not(.arrow-previous):not(.arrow-next):active {
  color: #323232;

  background-color: rgba(255, 255, 255, 1);
}

.arrow-previous,
.arrow-next {
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrow-next {
  background-position: 5px 7px;
}

.arrow-previous {
  background-position: 10px 2px;
  transform: scale(-1, -1);
}

.arrow-unactive {
  cursor: initial;
  opacity: 0.2;
}

.current-page {
  display: block;
  padding: 4px 8px;

  color: #323232;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

/* Сетки  */

.header-navigation-wrapper {
  display: flex;
  min-height: 74px;
  padding-top: 9px;
}


.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 990px;
  padding-top: 21px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 410px;
  padding-left: 10px;
}

.site-navigation-item {
  margin-right: 3px;
}

main.container {
  display: flex;
  flex-direction: column;
}

.main-contact {
  align-self: flex-end;
}

.slider-wrapper {
  position: relative;

  align-self: center;
  width: 1146px;
  min-height: 490px;
  margin-bottom: 35px;
}

.controls {
  position: absolute;
  bottom: 27px;
}

.slides {
  padding: 0 230px;

  text-align: center;

  border-top: 1px solid transparent;
}

.slides img {
  position: absolute;
  top: -121px;
  left: 50px;
  z-index: -1;
}

.controls-list {
  display: flex;
  justify-content: space-between;
  width: 80px;
  min-height: 20px;
}


.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-list-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 267px;
  min-height: 200px;
  margin-right: 26px;
}

.catalog-list-item:hover::after {
  z-index: 1;

  display: block;
}

.catalog-list-item:hover .catalog-item-image {
  position: relative;
  z-index: 3;
}

.catalog-list-item:hover .btn {
  display: block;
}

.catalog-list-item:hover .catalog-item-name {
  position: relative;
  z-index: 3;
}

.catalog-list-item::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -13px;

  display: none;
  width: 293px;
  height: 125%;

  background: rgba(248, 247, 244, 0.5);
  border-radius: 5px;
}

.catalog-item-price {
  position: absolute;
  top: 208px;
  z-index: 3;

  margin: 0;
}

.catalog-item-name {
  order: 1;
  margin: 0;
  margin-top: 10px;

  text-align: center;
}

.catalog-list-item:nth-child(5) .catalog-item-name,
.catalog-list-item:nth-child(10) .catalog-item-name {
  margin-right: 7px;
  padding-left: 7px;
}


.catalog-list-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-main {
  margin-bottom: 38px;
}

.catalog-inner .catalog-list-item {
  margin-bottom: 38px;
}


.features .index-columns {
  margin-bottom: 0;
}

.index-columns .features-list {
  width: 540px;
  padding-left: 56px;
}

.index-columns .features-list:last-child {
  padding-left: 57px;
}

.contact-map {
  position: relative;

  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.page-footer {
  padding-bottom: 28px;
}



.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  width: 267px;
}

.footer-social-list-item {
  margin-top: 2px;
  margin-right: 11px;
}

.links-info {
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin-right: 70px;
}

.footer-catalog .links-info-list-item {
  margin-bottom: 3px;
}

.footer-catalog .footer-copyright {
  margin-top: 2px;
}

.footer-catalog .footer-copyright::before {
  top: -16px;
}

.right-column-list {
  margin-left: 5px;
}

.left-column-list {
  margin-right: 10px;
}

.main-catalog .main-contact {
  order: -2;
}

.main-catalog .breadcrumbs {
  order: -1;
}

.main-catalog {
  margin-bottom: 32px;
}

.filter-selection-options h3 {
  margin-left: 16px;
}

.filter-selection-form {
  margin-bottom: 40px;
}

.filter-selection-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 859px;
  min-height: 140px;
}

.filter-selection-form section {
  min-height: 65px;
}

.radio-filter-list {
  display: flex;
}

.checkbox-filter-list {
  display: flex;
}

.catalog-inner {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-bottom: 97px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
